body {
    font-family: Arial, sans-serif;
}

body,
html,
h1,
h5 {
    height: 100%;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box {
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
}

.header {
    margin-bottom: 5px;
}


.slider:hover {
    opacity: 1;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 7.5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #324376;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #324376;
    cursor: pointer;
  }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    opacity: 0.7;
}

.toggle:hover {
    opacity: 1;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.toggle {
    background-color: #324376;
}

input:focus+.toggle {
    box-shadow: 0 0 1px #324376;
}

input:checked+.toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.toggle.round {
    border-radius: 34px;
}

.toggle.round:before {
    border-radius: 50%;
}

.on-off {
    margin-top: 30px;
    text-align: center;
}

.on-off h5 {
    margin-top: 5px;
}

.dry-wet-container {
    display: flex;
    justify-content: space-between;
}

.dry-wet-container h3 {
    margin-top: 0;
}